In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import statistics

In [2]:
deliveries=pd.read_csv("deliveries.csv")

In [3]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

# THE BATSMANS WITH HIGHEST STRIKE RATE,MEAN AND STANDARD DEVIATION.

In [4]:
a=deliveries.groupby('batsman')['batsman_runs'].count()

In [5]:
b=deliveries.groupby('batsman')['batsman_runs'].count()>300

In [6]:
c=a[b].index.tolist()

In [7]:
new_batsman=deliveries[deliveries['batsman'].isin(c)]

In [8]:
new_batsman_runs=new_batsman.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False)

In [9]:
new_batsman_balls=new_batsman.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

In [10]:
strike_rate=[]

In [11]:
strike_rate=(((new_batsman_runs/new_batsman_balls)*100).sort_values(ascending=False))

In [12]:
mean_batsman=statistics.mean(((new_batsman_runs/new_batsman_balls)*100).sort_values(ascending=False))

In [13]:
sd_batsman=statistics.stdev(((new_batsman_runs/new_batsman_balls)*100).sort_values(ascending=False))

In [14]:
sd_batsman

12.593434238460521

# THE BOWLER WITH LOWEST ECONOMY RATE,MEAN AND STANDARD DEVIATION.

In [15]:
deliveries['dismissal_kind'].value_counts()

caught                   4373
bowled                   1382
run out                   755
lbw                       455
stumped                   243
caught and bowled         211
retired hurt                9
hit wicket                  9
obstructing the field       1
Name: dismissal_kind, dtype: int64

In [16]:
dismissal=['caught','bowled','lbw','stumped','caught and bowled','hit wicket']
out=deliveries[deliveries['dismissal_kind'].isin(dismissal)]
bowler=out.groupby('bowler')['dismissal_kind'].count().sort_values(ascending=False)

In [17]:
x=deliveries.groupby('bowler')['total_runs'].count()

In [18]:
y=deliveries.groupby('bowler')['total_runs'].count()>100

In [19]:
d=x[y].index.tolist()

In [20]:
new_bowler=deliveries[deliveries['bowler'].isin(d)]

In [21]:
new_bowler_runs=new_bowler.groupby('bowler')['total_runs'].sum().sort_values(ascending=False)

In [22]:
new_bowler_balls=new_bowler.groupby('bowler')['total_runs'].count().sort_values(ascending=False)

In [23]:
bowler_overs=(new_bowler_balls/6)

In [24]:
economy_rate=[]

In [25]:
economy_rate=(new_bowler_runs/bowler_overs).sort_values(ascending=True)

In [26]:
mean_bowler=statistics.mean((new_bowler_runs/bowler_overs).sort_values(ascending=False))

In [27]:
mean_bowler

7.969271274565699

In [28]:
sd_bowler=statistics.stdev((new_bowler_runs/bowler_overs).sort_values(ascending=False))

In [29]:
sd_bowler

0.8270323641957655

# Better player between a batsman and a bowler:

In [30]:
def batsman_vs_bowler():
    print("Enter Batsman name")
    batsman_name=input()
    score=strike_rate[batsman_name]
    z_batsman=(score-mean_batsman)/sd_batsman

    print("Enter Bowler name")
    bowler_name=input()
    score1=economy_rate[bowler_name]
    z_bowler=(mean_bowler-score1)/sd_bowler
    
    if(z_batsman>z_bowler):
        print("The player better among them is:"+batsman_name)
    else:
        print("The player better among them is:"+bowler_name)

In [32]:
batsman_vs_bowler()

Enter Batsman name
MS Dhoni
Enter Bowler name
Sohail Tanvir
The player better among them is:Sohail Tanvir